{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
CSSeniors
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">CSSeniors</h1>

      <p class="lead">
This webapp shows the papers of a given author that have been published at the venues listed in
<a href="http://csrankings.org">CSRankings</a> since their
first first-author paper.
The first authorship of a top-tier
conference paper should indicate the work is
driven and built by their own, which proves the experience to deserve some seniority.
The output also includes papers published in the previous year of the
first-author paper, which can be published later because of rejections.
      
      </p>

      <p class="lead" style="font-size: 100%">
      <span style="font-weight: bold">TL;DR</span>: 
      Conferences can be added/removed using +/- followed by a conference
      key (uai if the <a href="https://dblp.org">DBLP</a> entry is
      https://dblp.org/db/conf/uai), like "John Smith +aistats +uai -aaai".
      You can also remove all the conferences not selected by default in
      CSRankings using "--" option, which is overwritten by "+" options.
      When "+c" option is given, this app also lists senior co-authors (this
      process takes a bit long as it issues a request to the DBLP website for
      every co-author), which could be useful to guess the collaboration circle
      of the author.

      This app makes the best effort for accuracy, such as filtering out
      short/workshop papers, applied data science track papers in KDD
      (2018-2020), operational systems track papers in NSDI (2014-2016) and
      experience papers in MOBICOM.
      </p>
      <p class="lead" style="font-size: 100%">
      Source code of this webapp is available <a
      href="https://github.com/micchie/csseniors">here</a>.
      </p>
	
      {{ wtf.quick_form(form) }}

      <p class="pt-5"><strong>{{ message }}</strong></p>
    </div>
  </div>
</div>

{% endblock %}
